{% extends "base.html" %}
{% block head %}
    <Title>Article</Title>
{% endblock head %}
{% block body %}
<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="../static/images/avatar.svg" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-white">Bunga Aura Prameswari</a>
                            <p class="text-base text-gray-500 dark:text-gray-400">Writer / Journalist</p>
                            <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">Nov 23, 2023</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="text-3xl font-extrabold leading-tight lg:text-4xl text-white">Coldplay in Jakarta: 77% Wristbands Returned, Confirms Promoter</h1>
                <p class="mb-4">5 minute read</p>
            </header>
            <p class="lead">The Xyloband wristbands from Coldplay's Jakarta concert on November 15 saw a 77% return rate</p>
            <figure><img src="../static/images/coldplay.jpg" alt="">
                <figcaption>Digital art by Anonymous</figcaption>
            </figure>
            <p>The Xyloband wristbands from Coldplay's Jakarta concert on November 15 saw a 77% return rate, directly confirmed by Image Dynamics representing 
                PK Entertainment and TEM Presents, the concert promoters. This information counters earlier false rumors on social media suggesting a low return rate of 52%.</p>
            <p>The promoters clarified that the accurate return rate is 77%, addressing the buzz around the initially rumored low return rate. Some concert attendees had chosen to 
                keep their Xylobands despite requests from both the promoters and Coldplay's management to return them after the concert.</p>
            <p>The Xyloband, known for its vibrant light displays synced with Coldplay's songs, has been a concert staple since the Mylo Xyloto tour. In the current Music of the Spheres World Tour, 
                Coldplay has introduced more environmentally friendly Xylobands and reduced waste by not producing them for every concert.</p>
            <p>Top return rates for Xylobands include Tokyo at 97%, Copenhagen at 96%, and Buenos Aires at 94%. 
                These figures emphasize the success of the Jakarta concert in terms of Xyloband returns.</p>
            <h4 class="text-white">Read more from our partners:</h4>
            <ol>
                <li><a href="#">77 Persen Gelang Konser Coldplay di Jakarta Dikembalikan</a> - CNN Indonesia</li>
                <li><a href="#">Total Pengembalian Wristband Konser Coldplay di Jakarta 77 Persen</a> - Kompas.com</li>
            </ol>
        </article>
    </div>
</main>
  
  <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-white">Related articles</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
        </div>
    </div>
  </aside>
{% endblock body %}

