{% extends "base.html" %}
{% block head %}
    <Title>Article</Title>
{% endblock head %}
{% block body %}
<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Jese Leos</a>
                            <p class="text-base text-gray-500 dark:text-gray-400">Graphic Designer, educator & CEO Flowbite</p>
                            <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2022</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight lg:mb-6 lg:text-4xl text-white">Best practices for successful prototypes</h1>
            </header>
            
            <div class="bg-gray-800 p-3 rounded-md">
                <div class="flex items-center w-full">
                    <div class="w-full">
                        <div class="flex items-center justify-center mx-auto mb-1">
                            <button data-tooltip-target="tooltip-shuffle" type="button" class="p-2.5 group rounded-full hover:bg-gray-100 me-1 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-600 dark:hover:bg-gray-600">
                                <svg class=" w-4 h-4 text-gray-500 dark:text-gray-300 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.484 6.166 13 4h6m0 0-3-3m3 3-3 3M1 14h5l1.577-2.253M1 4h5l7 10h6m0 0-3 3m3-3-3-3"/>
                                </svg>
                                <span class="sr-only">Shuffle video</span>
                            </button>
                            <div id="tooltip-shuffle" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Shuffle video
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <button data-tooltip-target="tooltip-previous" type="button" class="p-2.5 group rounded-full hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-600 dark:hover:bg-gray-600">
                                <svg class="rtl:rotate-180 w-4 h-4 text-gray-500 dark:text-gray-300 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 16">
                                    <path d="M10.819.4a1.974 1.974 0 0 0-2.147.33l-6.5 5.773A2.014 2.014 0 0 0 2 6.7V1a1 1 0 0 0-2 0v14a1 1 0 1 0 2 0V9.3c.055.068.114.133.177.194l6.5 5.773a1.982 1.982 0 0 0 2.147.33A1.977 1.977 0 0 0 12 13.773V2.227A1.977 1.977 0 0 0 10.819.4Z"/>
                                </svg>
                                <span class="sr-only">Previous video</span>
                            </button>
                            <div id="tooltip-previous" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Previous video
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <button data-tooltip-target="tooltip-pause" type="button" class="inline-flex items-center justify-center p-2.5 mx-2 font-medium bg-blue-600 rounded-full hover:bg-blue-700 group focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
                                <svg class="w-3 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
                                    <path fill-rule="evenodd" d="M0 .8C0 .358.32 0 .714 0h1.429c.394 0 .714.358.714.8v14.4c0 .442-.32.8-.714.8H.714a.678.678 0 0 1-.505-.234A.851.851 0 0 1 0 15.2V.8Zm7.143 0c0-.442.32-.8.714-.8h1.429c.19 0 .37.084.505.234.134.15.209.354.209.566v14.4c0 .442-.32.8-.714.8H7.857c-.394 0-.714-.358-.714-.8V.8Z" clip-rule="evenodd"/>
                                </svg>
                                <span class="sr-only">Pause video</span>
                            </button>
                            <div id="tooltip-pause" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Pause video
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <button data-tooltip-target="tooltip-next" type="button" class="p-2.5 group rounded-full hover:bg-gray-100 me-1 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-600 dark:hover:bg-gray-600">
                                <svg class="rtl:rotate-180 w-4 h-4 text-gray-500 dark:text-gray-300 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 12 16">
                                    <path d="M11 0a1 1 0 0 0-1 1v5.7a2.028 2.028 0 0 0-.177-.194L3.33.732A2 2 0 0 0 0 2.227v11.546A1.977 1.977 0 0 0 1.181 15.6a1.982 1.982 0 0 0 2.147-.33l6.5-5.773A1.88 1.88 0 0 0 10 9.3V15a1 1 0 1 0 2 0V1a1 1 0 0 0-1-1Z"/>
                                </svg>
                                <span class="sr-only">Next video</span>
                            </button>
                            <div id="tooltip-next" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Next video
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                            <button data-tooltip-target="tooltip-restart" type="button" class="p-2.5 group rounded-full hover:bg-gray-100 me-1 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-600 dark:hover:bg-gray-600">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-300 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 1v5h-5M2 19v-5h5m10-4a8 8 0 0 1-14.947 3.97M1 10a8 8 0 0 1 14.947-3.97"/>
                                </svg>
                                <span class="sr-only">Restart video</span>
                            </button>
                            <div id="tooltip-restart" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Restart video
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between space-x-2 rtl:space-x-reverse">
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">3:45</span>
                            <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-800">
                                <div class="bg-blue-600 h-1.5 rounded-full" style="width: 65%"></div>
                            </div>
                            <span class="text-sm font-medium text-gray-500 dark:text-gray-400">5:00</span>
                        </div>
                    </div>
                </div>
            </div>

            <p class="lead">Flowbite is an open-source library of UI components built with the utility-first
                classes from Tailwind CSS. It also includes interactive elements such as dropdowns, modals,
                datepickers.</p>
            <figure><img src="https://flowbite.s3.amazonaws.com/typography-plugin/typography-image-1.png" alt="">
                <figcaption>Digital art by Anonymous</figcaption>
            </figure>
            <p>You can check out the <a href="https://flowbite.com/docs/getting-started/quickstart/">quickstart
                    guide</a> to explore the elements by including the CDN files into your project. But if you want
                to build a project with Flowbite I recommend you to follow the build tools steps so that you can
                purge and minify the generated CSS.</p>
            <ol>
                <li><strong class="text-white">Usability testing</strong>. Does your user know how to exit out of screens? Can they
                    follow your intended user journey and buy something from the site you’ve designed? By running a
                    usability test, you’ll be able to see how users will interact with your design once it’s live;
                </li>
                <li><strong class="text-white">Involving stakeholders</strong>. Need to check if your GDPR consent boxes are displaying
                    properly? Pass your prototype to your data protection team and they can test it for real;</li>
            </ol>
            <h3>Laying the groundwork for best design</h3>
            <p>Before going digital, you might benefit from scribbling down some ideas in a sketchbook. This way,
                you can think things through before committing to an actual design project.</p>
            <p>Let's start by including the CSS file inside the <code>head</code> tag of your HTML.</p>
            <h3 class="text-white">Understanding typography</h3>
            <h4>Type properties</h4>
            <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across
                letters. A typeface represents shared patterns across a collection of letters.</p>
            <h4 class="text-white">Baseline</h4>
            <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across
                letters. A typeface represents shared patterns across a collection of letters.</p>
            <h4 class="text-white">Measurement from the baseline</h4>
            <p>A typeface is a collection of letters. While each letter is unique, certain shapes are shared across
                letters. A typeface represents shared patterns across a collection of letters.</p>
            <h3 class="text-white">Type classification</h3>
            <h4>Serif</h4>
            <p>A serif is a small shape or projection that appears at the beginning or end of a stroke on a letter.
                Typefaces with serifs are called serif typefaces. Serif fonts are classified as one of the
                following:</p>
            <h4>Old-Style serifs</h4>
            <ul>
                <li>Low contrast between thick and thin strokes</li>
                <li>Diagonal stress in the strokes</li>
                <li>Slanted serifs on lower-case ascenders</li>
            </ul>
            <ol>
                <li>Low contrast between thick and thin strokes</li>
                <li>Diagonal stress in the strokes</li>
                <li>Slanted serifs on lower-case ascenders</li>
            </ol>
            <h3>Laying the best for successful prototyping</h3>
            <p>A serif is a small shape or projection that appears at the beginning:</p>
            
            <h4>Table example</h4>
            <p>A serif is a small shape or projection that appears at the beginning or end of a stroke on a letter.
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Date &amp; Time</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>United States</td>
                        <td>April 21, 2021</td>
                        <td><strong class="text-white">$2,300</strong></td>
                    </tr>
                    <tr>
                        <td>Canada</td>
                        <td>May 31, 2021</td>
                        <td><strong class="text-white">$300</strong></td>
                    </tr>
                    <tr>
                        <td>United Kingdom</td>
                        <td>June 3, 2021</td>
                        <td><strong class="text-white">$2,500</strong></td>
                    </tr>
                    <tr>
                        <td>Australia</td>
                        <td>June 23, 2021</td>
                        <td><strong class="text-white">$3,543</strong></td>
                    </tr>
                    <tr>
                        <td>Germany</td>
                        <td>July 6, 2021</td>
                        <td><strong class="text-white">$99</strong></td>
                    </tr>
                    <tr>
                        <td>France</td>
                        <td>August 23, 2021</td>
                        <td><strong class="text-white">$2,540</strong></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</main>
  
  <aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-white">Related articles</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-1.png" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-white">
                    <a href="#">Our first office</a>
                </h2>
                <p class="mb-4 text-gray-400">Over the past year, Volosoft has undergone many changes! After months of preparation.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
        </div>
    </div>
  </aside>
{% endblock body %}

